@import '~antd/dist/antd.css';

.container {
  height: 100vh;
}

.todo {
  background-color: paleturquoise;
}

.in-process {
  background-color: palegoldenrod;
}

.done {
  background-color: peachpuff;
}

.todo-card {
  width: 145px;
  margin: 5px;
  background-color: lightcyan;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 5px;
}
